{% extends 'base.html' %}
{% load static %}

   {% block  header%}
        {% include 'headerWelcom.html' %}
    {% endblock %}


    {% block content %}

        <div class="container">
            <div class="row">
                <h3 class="zag_log">Вход в систему</h3>
            </div>
        </div>


            <div class="container">
                <div class="row">
                    <div class="col">
                             <form  method="post">
                             {% csrf_token %}
                             {{ form.as_p }}
                                 <button type="submit" class="btn btn-outline-dark">Войти</button>
                        </form>
                    </div>
                     <div class="col"></div>
                </div>
            </div>






    {% endblock %}

    {% block footer %}
    {% endblock %}