{% extends 'base.html' %}
{% load static %}

    {% block  header%}
        {% include 'header.html' %}
    {% endblock %}

    {% block content %}

        <div class="container">
            <div class="row">
                 <h3 class="List-title">Список принтеров</h3>
            </div>
        </div>
            <div class="container">

            </div>

        <div class="container">
            <div class="row">
             <div class="col"><div class="col"><p class="count">Общее колличество: {{ printer_.count }}</p> </div></div>
            <div class="col"></div>
        <div class="col">
            <nav class="navbar navbar-light">
                <form action="{%  url 'printerList' %}" method="get" class="form-inline">
                     <input  name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
        </div>


        </div>
            <div class="container">

                <table class="table">
                      <thead>
                      <tr>
                          <th> Серийный номер</th>
                          <th> Имя принтера</th>
                              <th>Модель принтера</th>
                              <th>IP</th>
                                <th>Категория</th>
                           </tr>
                    {% for prtinter in printer_ %}
                              <tbody>
                                <tr>
                                    <td><a href="{% url 'printer_detail' pk=prtinter.pk %}">{{ prtinter.serialNumber}}</a> </td>
                                    <td>{{ prtinter.name }}</td>
                                    <td>{{ prtinter.printerModel.name }}</td>
                                    <td>{{ prtinter.ip_adress }}</td>
                                    <td>{{ prtinter.category }}</td>
                                </tr>
                              </tbody>
                    {% endfor %}
                </table>
            </div>



    {% endblock %}
    {% block footer %}

    {% endblock %}